# Dependencias locales (se instalan limpio en el contenedor)
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (se montan vía env_file en docker-compose)
.env
.env.*
.env.local
.env.development
.env.test
.env.production

# Control de versiones
.git
.gitignore

# Carpeta pública (se crea en runtime, no debe incluirse)
public

# Logs
logs
*.log

# Misc
.DS_Store
